body, html, main{
  color:black;
  height:100%
}
.row{
  height:100%;
}
.col-sm-3{

  position:fixed;
  color:#000;

  height:100%
}
.col-sm-3 header{
  font-size: 24px;

}

header{
  font-weight: bold;
  font-size: 24px;
  margin-top:10px;
  margin-bottom:2.5px;


}

.nav ul {
  height:88%;
  overflow-y:auto;
  overflow-x:hidden;
}

.nav ul li{
  border: 1px solid black;
}
.nav ul li a{
  text-decoration: none;
  list-style: none;

}

.nav-link{
  color: black;
}

.col-sm-9{
  border-left: 1px solid black;
}

@media screen and (max-width:765px){
  .row{
    height:80%;

  }
  .col-sm-3{
    overflow: scroll;
    text-align:center;
    height:50%;

  }
}
